{% extends "flights/layout.html" %}
{% block body %}
    <h1> Flights Info - {{ flight.id }}</h1>
    <ul>
        <li> Origin : {{ flight.origin }}</li>
        <li> Destions : {{ flight.destions }}</li>
        <li> durations : {{ flight.duration }}</li>
    </ul>

    <h1> Passenger List </h1>
      <ol>
          {% for passenger in passengers %}
              <li> {{ passenger }}</li>
           {% empty %}hhhh
              <li> no passenger</li>
           {% endfor %}
      </ol>
{% endblock %}